body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 120px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 90px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form input,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

#search {
  width: calc(100% - 20px);
  margin: 20px 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#transactions {
  margin-top: 20px;
}
.button:hover{
  transform: scale(1.1);

}